<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>kayseven's place</a></li>
    <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>hello</a></li>
    <li><a href="https://kushanthawblog.blogspot.com/" >the blog</a></li>
    <li><a href="/everything" {% if page.url == "/everything" %}class="active"{% endif %}>everything</a></li>
    <li><a href="/htlhcdtwy" {% if page.url == "/htlhcdtwy" %}class="active"{% endif %}>?</a></li>
  </ul>
</nav>
